@charset "UTF-8";
* {
  outline: 0; }

html, body, ul, li, p, h1, h2, h3, h4, h5, h6, input {
  padding: 0;
  margin: 0; }

ul, li {
  list-style: none; }

a {
  text-decoration: none; }

.fl {
  float: left; }

.fr {
  float: right; }

/*common&rest*/
input, select {
  outline: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  overflow: hidden; }

.clearfix {
  zoom: 1; }

html {
  background-color: #ffffff;
  height: 100%; }

body {
  height: 100%;
  text-align: center;
  position: relative;
  font: 14px/22px "Hiragino Sans GB","Microsoft YaHei","微软雅黑","宋体"; }

.process {
  padding-bottom: 0.66667rem;
  position: relative; }
  .process .pre {
    margin-top: 0.13333rem; }
  .process .processImg {
    width: 100%;
    display: block; }
  .process .showAll {
    color: #00b38a;
    font-size: 0.37333rem;
    position: absolute;
    bottom: 0.30667rem;
    right: 0.69333rem; }
    .process .showAll img {
      width: 0.25333rem; }
  .process .hideAll div {
    float: right;
    color: #00b38a;
    font-size: 0.37333rem;
    margin-bottom: 1.06667rem;
    margin-right: 0.66667rem; }
    .process .hideAll div img {
      width: 0.25333rem;
      position: relative;
      top: -0.06667rem; }

.btn {
  font-size: 0.45333rem;
  width: 8.93333rem;
  margin: 0 auto; }

.noInterest {
  width: 3.46667rem;
  height: 1.17333rem;
  line-height: 1.17333rem;
  background: #fff;
  color: #00b38a;
  border: 1px solid #02c79a;
  box-sizing: border-box;
  border-radius: 0.04rem;
  margin-right: 0.4rem; }

.accept {
  width: 4.8rem;
  height: 1.17333rem;
  line-height: 1.17333rem;
  background: #00b38a;
  color: #fff;
  border-radius: 0.04rem; }
  .accept a {
    color: #fff; }

.unclick {
  border: 1px solid #e8e9eb;
  color: #cccccc; }

.unclick_2 span {
  opacity: 0.3; }

.back {
  display: none; }

.refuse {
  display: none;
  position: fixed;
  top: 4.72rem;
  left: 50%;
  margin-left: -4.13333rem;
  color: #333;
  font-size: 0.42667rem;
  width: 8.26667rem;
  height: 4.64rem;
  border-radius: 0.26667rem;
  background: #ffffff;
  box-sizing: border-box;
  z-index: 999;
  padding: 1.04rem 0.8rem 0.66667rem; }
  .refuse p {
    font-size: 0.42667rem;
    color: #333;
    line-height: 0.72rem; }
  .refuse .btn_2 {
    margin-top: 0.4rem; }
    .refuse .btn_2 .sureNo {
      width: 3.06667rem;
      height: 1.17333rem;
      line-height: 1.17333rem;
      background: #fff;
      color: #00b38a;
      border: 1px solid #02c79a;
      box-sizing: border-box;
      border-radius: 0.04rem;
      margin-right: 0.4rem; }
    .refuse .btn_2 .onceMore {
      width: 3.06667rem;
      height: 1.17333rem;
      line-height: 1.17333rem;
      background: #00b38a;
      color: #fff;
      border-radius: 0.04rem; }

.refuse_2 {
  display: none;
  width: 8.26667rem;
  height: 5.46667rem;
  box-sizing: border-box;
  padding: 1.06667rem 0.66667rem 0.66667rem;
  position: fixed;
  top: 4.13333rem;
  left: 50%;
  margin-left: -4.13333rem;
  border-radius: 0.26667rem;
  background: #ffffff;
  z-index: 999; }
  .refuse_2 .title {
    font-size: 0.45333rem;
    color: #333;
    margin-bottom: 0.34667rem; }
  .refuse_2 p {
    font-size: 0.4rem;
    color: #666;
    margin-bottom: 0.2rem; }
  .refuse_2 div {
    width: 3.6rem;
    margin: 0.2rem auto 0;
    height: 1.17333rem;
    line-height: 1.17333rem;
    background: #00b38a;
    color: #fff;
    box-sizing: border-box;
    border-radius: 0.04rem; }

.shadow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: #666666;
  opacity: 0.6; }
